@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.container {
  width: 60vw;
  height: 95vh;
  position: relative;
  z-index: 5;
  border-radius: 20px;
  border: 2px solid #0a214b;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5), -5px -5px 20px rgba(0, 0, 0, 0.1);
}

.fox {
  position: absolute;
  z-index: 3;
  height: 55vh;
  bottom: -2px;
  right: 12vw;
}

.fox img {
  height: 100%;
  object-fit: contain;
}

body {
  background: url(background.jpg);
  background-position: center;
  color: #fff;
}

table {
  margin: 5px;
}
button {
  width: 50px;
  font-family: "Poppins", sans-serif;
  height: 30px;
}

.leaves .set div:nth-child(1) {
  left: 20%;
  animation: animate 20s linear infinite;
}
.leaves .set div:nth-child(2) {
  left: 50%;
  animation: animate 14s linear infinite;
}
.leaves .set div:nth-child(3) {
  left: 70%;
  animation: animate 12s linear infinite;
}
.leaves .set div:nth-child(4) {
  left: 5%;
  animation: animate 15s linear infinite;
}
.leaves .set div:nth-child(5) {
  left: 85%;
  animation: animate 18s linear infinite;
}
.leaves .set div:nth-child(6) {
  left: 90%;
  animation: animate 12s linear infinite;
}
.leaves .set div:nth-child(7) {
  left: 15%;
  animation: animate 14s linear infinite;
}
.leaves .set div:nth-child(8) {
  left: 60%;
  animation: animate 15s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    transform: translateX(-20px) rotate(98deg);
  }
  60% {
    transform: translateX(20px) rotate(180deg);
  }
  60% {
    transform: translateX(-20px) rotate(45deg);
  }
  100% {
    top: 110%;
    transform: translateX(20px) rotate(225deg);
  }
}
