.atas {
  font-size: x-large;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 35px 35px 0px 0px;
  background-color: lightblue;
  width: 100%;
  height: 80px;
  border: solid;
}

#middle {
  text-align: center;
  background-color: lightblue;
  width: 100%;
  height: 200px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
}

#kiri {
  float: left;
  width: 200px;
  background-color: yellow;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  border: dashed red;
}

#tengah {
  display: inline-block;
  margin: 0 auto;
  width: 300px;
  background-color: yellow;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: dotted blue;
}

#kanan {
  float: right;
  width: 200px;
  background-color: yellow;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  border: dashed red;
}

.bawah {
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 0px 0px 35px 35px;
  background-color: lightblue;
  width: 100%;
  height: 80px;
  font-size: x-large;
  border: solid;
}
