@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
body {
  background: url(dark.jpg);
  background-position: center;
  color: #fff;
}
.container {
  width: 50vw;
  height: 95vh;
  position: relative;
  z-index: 5;
  border-radius: 20px;
  border: 2px solid #0a214b;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5), -5px -5px 20px rgba(0, 0, 0, 0.1);
}
table {
  margin: 5px;
}
